:root{
    --font-paragraph:'Tektur', cursive;
    --font-title:'Tourney', cursive;
    --font-author:'Poppins', sans-serif;

    /*Gradientes*/
    --footer-gradient-bg: linear-gradient(to top, #1a2a6c, #b21f1f, #fdbb2d); 
}

.quoteCard__title{
    font-family: var(--font-title);
    font-size: 50px;
    color: #040500;
}

.copy__text{
    position: relative;
    left: 170px;
    top: 20px;
}

.copy__btn{
    background-color: rgb(224, 153, 153);
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
}

.quoteCard{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto;
    text-align: center;
    align-items: center;
}

.quoteCard__container{
    margin: auto;
    max-width: 410px; 

}

.container__phrase{
    background-color: #8a26cd69;
    margin: 30px auto;
    min-height: 150px;
    max-height: auto;
    display: grid;
    border-radius: 30px;

}

.quoteCard__phrase{
    margin: auto 20px;
    color: #ffffff;
    font-size: 20px;
    font-family: var(--font-paragraph);
}

.quoteCard__btn{
    background-color: rgb(250, 250, 250);
    text-align: center;
    color: #00000076;
    border-radius: 100%;
    cursor: pointer;
    border: 2px solid rgb(251, 251, 251);
}

.quoteCard__btn:hover{
    color: #fff;
    background-color: rgba(135, 249, 4, 0.403);
}



.bx{
    font-size: 30px;
    font-weight: 700;
}

.author{
    color: #ca97e8;
}

.quoteCard__footer{
    font-family: var(--font-author);
    color: #fff;
    font-size: 16px;    
}

@media (max-width:375px){
    .quoteCard__phrase{
        font-size: 16px;
        color: red;
    }

    .quoteCard__container{
        max-width: 100%; 
    }

    .quoteCard{
        width: 100vw;
        height: 100vh;
        
    }
    


}