.app{
    background-size: cover;
    background-position: center;
}

.bg1{
    background-image: url(/public/images/fondo5.jpg);
}

.bg2{
    background-image: url(/public/images/fondo6.jpg);
}

.bg3{
    background-image: url(/public/images/fondo7.jpg);
}

.bg4{
    background-image: url(/public/images/fondo8.jpg);
}